.ui.menu {
  border: 1px solid var(--grey); 
}

.ui.menu .custom-menu-item:first-child {
  border-left: 1px solid var(--grey);
}

.custom-menu-item:hover {
    background-color: var(--blue) !important; 
    color: white !important;
  }
  
.custom-menu-item-active {
  background-color: var(--darkblue) !important; 
  color: white !important;
}

.custom-menu-item{
  color: var(--darkblue) !important;
}

.subjectCard{
  border: 1px solid var(--grey);
  padding: 40px;
  color: var(--darkblue);
  font-weight: bold;
}

.subjectCard:hover{
  background-color: var(--orange);
  color: var(--white);
  
}




  